<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.curation.model.dao.CommentLikeDao">

	<resultMap type="CommentLikeDto" id="commentLikeMap">
      <id column="like_id" property="likeId"/>
      <result column="user_id" property="userId"/>
      <result column="comment_id" property="commentId"/>
	</resultMap>

	<insert id="insertLike" parameterType="commentLikeDto">
		INSERT INTO comment_like (user_id, comment_id)
		VALUES(#{userId}, #{commentId});
	</insert>
	
	<delete id="deleteLike" parameterType="commentLikeDto">
		DELETE FROM comment_like
		WHERE user_id = #{userId}
			AND
			  comment_id = #{commentId}
	</delete>
	
	<select id="selectCommentLikeList" resultMap="commentLikeMap" parameterType="int">
		SELECT like_id, user_id, comment_id
		FROM comment_like
		WHERE comment_id = #{commentId}
	</select>	
	
	<select id="chkCommentLike" resultMap="commentLikeMap" parameterType="int">
		SELECT *
		FROM comment_like
		WHERE comment_id = #{commentId}
			AND
			  user_id = #{userId}
	</select>
</mapper>