<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.curation.model.dao.CommentLikeDao">

	<insert id="insertLike" parameterType="commentLikeDto">
		INSERT INTO comment_like (user_id, comment_id)
		VALUES(#{userId}, #{commentId});
	</insert>
	
	<delete id="deleteLike" parameterType="commentLikeDto">
		DELETE FROM comment_like
		WHERE user_id = #{userId}
			AND
			  comment_id = #{commentId}
	</delete>	
</mapper>