<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.curation.model.dao.FeedDao">
	<resultMap type="FeedDto" id="feedMap">
      <id column="feed_id" property="feedId"/>
      <result column="feed_type" property="feedType"/>
      <result column="feed_url" property="feedUrl"/>
      <result column="feed_source" property="feedSource"/>
      <result column="feed_title" property="feedTitle"/>
      <result column="feed_content" property="feedContent"/>
      <result column="feed_author" property="feedAuthor"/>
      <result column="feed_date" property="feedDate"/>
      <result column="feed_category" property="feedCategory"/>
      <result column="feed_img_name" property="feedImgName"/>
      <result column="feed_img_url" property="feedImgUrl"/>
	</resultMap>
	<select id="selectFeed" resultMap="feedMap" parameterType="java.util.HashMap">

		SELECT *
		FROM feed		
		<if test='type != 0 and industry == 0'>
		WHERE feed_type = #{type}
		</if>
		
		<if test='type == 0 and industry != 0'>
		WHERE feed_category = #{industry}
		</if>
		
		<if test='type != 0 and industry != 0'>
		WHERE feed_type = #{type}
			AND
			  feed_category = #{industry}
		</if>
		ORDER BY feed_id DESC
	</select>
	
	<select id="selectFeedById" resultMap="feedMap" parameterType="int">
		SELECT *
		FROM feed
		WHERE feed_id = #{feedId}
	</select>

</mapper>