<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.curation.model.dao.FollowDao">

	<!-- 나의 팔로우 리스트 가져오기 ( 사용자 id ) -->
	<select id="getMyFollowingList" parameterType="int" resultType="userDto">
		select user_id userId, id, nickname, user_img_name userImgName, user_img_url userImgUrl
		from user
		where user_id in (
			select follow_user_id
			from follow
			where user_id = #{userId}
		)
	</select>

	<!-- 나의 팔로잉 리스트 가져오기 -->
	<select id="getMyFollowerList" parameterType="int" resultType="userDto">
		select user_id userId, id, nickname, user_img_name userImgName, user_img_url userImgUrl
		from user
		where user_id in (
			select user_id
			from follow
			where follow_user_id = #{followUserId}
		)
	</select>
	
	<!-- 특정 유저에 대한 나의 팔로우 상태 가져오기 -->
	<select id="getFollowStatus" parameterType="followDto" resultType="followDto">
		select follow_id followId, user_id userId, follow_user_id followUserId
		from follow
		where user_id = #{userId} and follow_user_id = #{followUserId}
	</select>
	
	<!--  팔로우 하기 -->
	<insert id="followUser" parameterType="followDto">
		insert into follow (user_id, follow_user_id) values (#{userId}, #{followUserId})
	</insert>
	
	<!-- 언팔하기 -->
	<delete id="unFollowUser" parameterType="followDto">
		delete from follow
		where user_id=#{userId} and follow_user_id = #{followUserId}
	</delete>
	
</mapper>