<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.curation.model.dao.PersonalWordDao">

	<resultMap type="PersonalWordDto" id="personalWordMap">
      <id column="personal_word_id" property="personalWordId"/>
      <result column="user_id" property="userId"/>
      <result column="personal_word" property="personalWord"/>
      <result column="personal_word_exp" property="personalWordExp"/>
      <result column="personal_fav_word" property="personalFavWord"/>
      <result column="personal_word_date" property="personalWordDate"/>
	</resultMap>
	
	<select id="selectPersonalWordById" resultMap="personalWordMap" parameterType = "int">
		SELECT *
		FROM personal_word
		WHERE personal_word_id = #{personalWordId}
	</select>
	
	<insert id="insertPersonalWord" parameterType="PersonalWordDto">
		INSERT INTO personal_word(user_id, personal_word, personal_word_exp, personal_fav_word, personal_word_date)
		VALUES (#{userId}, #{personalWord}, #{personalWordExp}, #{personalFavWord}, now());
	</insert>
	
	<delete id="deletePersonalWord" parameterType="int">
		DELETE FROM personal_word
		WHERE personal_word_id = #{personalWordId}
	</delete>
	
	<select id="selectPersonalWordList" resultMap="personalWordMap" parameterType="java.util.HashMap">
		SELECT *
		FROM personal_word
		WHERE user_id = #{userId}
			AND 
			  personal_word LIKE '%${keyword}%'
	</select>
	
	<select id="selectPersonalFavWordList" resultMap="personalWordMap" parameterType="java.util.HashMap">
		SELECT *
		FROM personal_word
		WHERE user_id = #{userId}
			AND
			  personal_fav_word = 1
  			AND 
			  personal_word LIKE '%${keyword}%'
	</select>
	
	<update id="addPersonalFavWord" parameterType="int">
		UPDATE personal_word
		SET
		personal_fav_word = 1
		WHERE personal_word_id = #{personalWordId}
	</update>
	
	<update id="cancelPersonalFavWord" parameterType="int">
		UPDATE personal_word
		SET
		personal_fav_word = 0
		WHERE personal_word_id = #{personalWordId}
	</update>
	
	<update id="updatePersonalWord" parameterType="personalWordDto">
		UPDATE personal_word
		SET
		personal_word_exp = #{personalWordExp}
		WHERE personal_word_id = #{personalWordId}
	</update>
</mapper>