<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.curation.model.dao.UserDao">

	<!-- 회원 가입 -->
	<insert id="registUser" parameterType="userDto">
		insert into user (user_id, id, password, nickname, email, user_img_url, user_img_name)
		values (#{userId}, #{id}, #{password}, #{nickname}, #{email}, #{userImgUrl}, #{userImgName})
	</insert>


</mapper>