<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.curation.model.dao.UserDao">

	<!-- 회원 가입 -->
	<insert id="registUser" parameterType="userDto">
		insert into user (id, password, nickname, email)
		values (#{id}, #{password}, #{nickname}, #{email})
	</insert>

	<!-- 로그인 -->
	<select id="login" parameterType="userDto" resultType="userDto">
		select user_id userId, id, password, nickname, email, user_img_url userImgUrl, user_img_name userImgName
		from user
		where id = #{id} and password = #{password}
	</select>
	
	<!-- 회원 정보 가져오기 (String) -->
	<select id="getUserInfoById" parameterType="String" resultType="userDto">
		select user_id userId, id, password, nickname, email, user_img_url userImgUrl, user_img_name userImgName
		from user
		where id = #{id}
	</select>
	
	<!-- 회원 정보 가져오기 (int) -->
	<select id="getUserInfoByUserId" parameterType="int" resultType="userDto">
		select user_id userId, id, password, nickname, email, user_img_url userImgUrl, user_img_name userImgName
		from user
		where user_id = #{userId}
	</select>

	<!-- 회원 정보 수정 -->
	<update id="updateUser" parameterType="userDto">
		update user
		set password=#{password}, nickname=#{nickname}, email=#{email}, user_img_url=#{userImgUrl}, user_img_name=#{userImgName}
		where id=#{id}
	</update>
	
	<!-- 회원 정보 삭제 -->
	<delete id="deleteUser" parameterType="String">
		delete from user
		where id=#{id}
	</delete>
	
	<!-- ID를 이용해 유저 번호 가져오기 -->
	<select id="getUserIdById" parameterType="String" resultType="int">
		select user_id userId
		from user
		where id = #{id}
	</select>
	
	<!-- 유저 리스트 가져오기 ( id ) getUserListById -->
	<select id="getUserListById" parameterType="String" resultType="userDto">
		select id, nickname, email, user_img_url userImgUrl, user_img_name userImgName
		from user
		where id like concat('%',#{id},'%');
	</select>
	
	<!-- 유저 리스트 가져오기 ( NickName ) -->
	<select id="getUserListByNickName" parameterType="String" resultType="userDto">
		select id, nickname, email, user_img_url userImgUrl, user_img_name userImgName
		from user
		where nickname like concat('%',#{nickname},'%');
	</select>
	
	<!-- 유저 리스트 가져오기 ( Email ) -->
	<select id="getUserListByEmail" parameterType="String" resultType="userDto">
		select id, nickname, email, user_img_url userImgUrl, user_img_name userImgName
		from user
		where email like concat('%',#{email},'%');
	</select>
</mapper>