@charset "UTF-8";

.btn-outline-primary {
  --bs-btn-color: #00dd99;
  --bs-btn-border-color: #00dd99;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #00dd99;
  --bs-btn-hover-border-color: #00dd99;
  --bs-btn-focus-shadow-rgb: 0, 221, 153;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #00dd99;
  --bs-btn-active-border-color: #00dd99;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #00dd99;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #00dd99;
  --bs-gradient: none;
}

.btn-outline-success {
  --bs-btn-color: #2a00dd;
  --bs-btn-border-color: #2a00dd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2a00dd;
  --bs-btn-hover-border-color: #2a00dd;
  --bs-btn-focus-shadow-rgb: 42, 0, 221;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2a00dd;
  --bs-btn-active-border-color: #2a00dd;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #2a00dd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #2a00dd;
  --bs-gradient: none;
}

.btn-outline-info {
  --bs-btn-color: #b2dd00;
  --bs-btn-border-color: #b2dd00;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #b2dd00;
  --bs-btn-hover-border-color: #b2dd00;
  --bs-btn-focus-shadow-rgb: 178, 221, 0;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #b2dd00;
  --bs-btn-active-border-color: #b2dd00;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #b2dd00;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #b2dd00;
  --bs-gradient: none;
}
.btn-outline-danger {
  --bs-btn-color: #dd0043;
  --bs-btn-border-color: #dd0043;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dd0043;
  --bs-btn-hover-border-color: #dd0043;
  --bs-btn-focus-shadow-rgb: 221, 0, 67;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #dd0043;
  --bs-btn-active-border-color: #dd0043;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #dd0043;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #dd0043;
  --bs-gradient: none;
}
